:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin-top: var(--header-height);

	&.expand-main-content,
	&.expand-footer {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - var(--header-height));
	}

	&.expand-main-content .main-content {
		flex-grow: 1;
	}

	&.expand-footer .site-footer {
		flex-grow: 1;
	}
}

// Apple believes it has the authority to adjust font sizes it deems as "too small"
// on iOS. This removes that hostile behavior.
@media screen and (max-device-width: $medium) {
	body {
		-webkit-text-size-adjust: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

button {
	background-color: transparent;
	border: 0;
	padding: 0;
}

ul {
	padding: 0;

	nav & {
		list-style: none;
		list-style-position: inside;
	}
}

table {
	color: var(--body-font-color);

	thead {
		tr {
			th {
				border-bottom: 1px solid var(--table-border-color);
				padding: 0.5rem;
				text-align: left;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom: 1px solid var(--table-border-color);
				padding: 0.5rem;
				text-align: left;
			}
		}
	}
}

blockquote {
	margin: 2rem 1rem;

	&::before {
		content: "\201C";
	}

	&::after {
		content: "\201D";
	}

	p {
		font: inherit;
		display: inline;
		color: inherit;
	}
}

code {
	background: var(--color-black);
	color: var(--color-white);
	padding: 0.1rem 0.25rem;
}

strong {
	font-weight: var(--font-weight-semibold);
}

video,
iframe {
	max-width: 100%;
}

pre {
	color: var(--body-font-color);
	white-space: normal;
}

// helper class from the foundation framework
.hide {
	display: none !important;
}
