$global-width: 1160px;

// breakpoint variables
$medium: 641px;
$large: 1025px;
$xlarge: 1441px;
$xxlarge: 1921px;

$theme-url-base: "../..";

/*************************************
Background Color Names
**************************************/
$bg-color-names: ("white", "black", "blue", "gray");

/*************************************
Spacing
*************************************/
// creates the selector "<element> + *"
$next-el-margin-top: (
	h1: 2rem,
	h2: 2rem,
	h3: 2rem,
	h4: 2rem,
	h5: 1.5rem,
	h6: 1.5rem,
	p: 1.5rem,
	ol: 1.5rem,
	ul: 1.5rem
);

// creates the selector "* + <element>"
$following-el-margin-top: (
	h1: 3rem,
	h2: 3rem,
	h3: 3rem,
	h4: 3rem,
	h5: 3rem,
	h6: 3rem
);

:root {
	--global-width: #{$global-width};
	--bp-medium: #{$medium};
	--bp-large: #{$large};
	--bp-xlarge: #{$xlarge};
	--bp-xxlarge: #{$xxlarge};

	/*************************************
	Defaults
	**************************************/
	--default-border-radius: 6px;
	--default-input-border-radius: 20px;
	--default-input-min-height: 40px;
	--default-transition-speed: 0.2s;
	--default-transition-easing: ease-in-out;
	--default-box-shadow: 0 10px 10px -10px rgba(var(--color-rgb-black), 0.5);

	/*************************************
	z-index
	**************************************/
	--z-root: 0;
	--z-header: calc(var(--z-root) + 10);
	--z-above-all: calc(var(--z-header) + 10);

	/*************************************
	Header
	**************************************/
	--header-height: 60px;

	@include media-min($medium) {
		--header-height: 70px;
	}

	@include media-min($large) {
		--header-height: 80px;
	}

	--header-transition-speed: calc(var(--default-transition-speed) * 2);

	/*************************************
	Layout
	**************************************/
	--grid-column-gutter: 3rem;

	@include media-min($medium) {
		--grid-column-gutter: 4rem;
	}

	/*************************************
	Colors
	**************************************/
	--color-black: #000;
	--color-blue: #145ca1;
	--color-blue-dark: #0e4274;
	--color-red: #98143c;
	--color-gray: #d4d7da;
	--color-white: #fff;

	--color-rgb-black: 0, 0, 0;
	--color-rgb-white: 255, 255, 255;

	--error-text: var(--color-red);

	--color-twitter: #79ccf0;
	--color-facebook: #547bbd;
	--color-linkedin: #1385c8;

	/*************************************
	Buttons
	*************************************/
	--button-primary-normal-bg-color: var(--color-blue);
	--button-primary-normal-border-color: var(--color-blue);
	--button-primary-normal-text-color: var(--color-white);

	--button-primary-hover-bg-color: var(--color-blue-dark);
	--button-primary-hover-border-color: var(--color-blue-dark);
	--button-primary-hover-text-color: var(--color-white);

	--button-primary-disabled-bg-color: rgba(var(--color-rgb-black), 0.4);
	--button-primary-disabled-border-color: transparent;
	--button-primary-disabled-text-color: rgba(var(--color-rgb-white), 0.7);

	--button-secondary-normal-bg-color: transparent;
	--button-secondary-normal-border-color: var(--color-black);
	--button-secondary-normal-text-color: var(--color-black);

	--button-secondary-hover-bg-color: var(--color-blue-dark);
	--button-secondary-hover-border-color: var(--color-blue-dark);
	--button-secondary-hover-text-color: var(--color-white);

	--button-secondary-disabled-bg-color: transparent;
	--button-secondary-disabled-border-color: rgba(var(--color-rgb-black), 0.4);
	--button-secondary-disabled-text-color: rgba(var(--color-rgb-black), 0.4);

	/*************************************
	Tables
	*************************************/
	--table-border-color: var(--color-gray);

	/*************************************
	Blocks
	*************************************/
	--block-padding-sm-top: 4.25rem;
	--block-padding-sm-bottom: 4.25rem;

	--block-padding-md-top: 6.25rem;
	--block-padding-md-bottom: 6.25rem;

	--block-padding-lg-top: 6.25rem;
	--block-padding-lg-bottom: 6.25rem;

	/*************************************
	Typography
	**************************************/
	--font-arial: Arial, sans-serif;
	--font-primary: var(--font-arial);

	--font-weight-thin: 100;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--body-font-size: 1.6rem;
	--body-font-line-height: 1.5;
	--body-font: normal normal var(--font-weight-regular) var(--body-font-size) /
		var(--body-font-line-height) var(--font-primary);
	--body-font-color: var(--color-black);

	--h1-color: var(--body-font-color);
	--h2-color: var(--body-font-color);
	--h3-color: var(--body-font-color);
	--h4-color: var(--body-font-color);
	--h5-color: var(--body-font-color);
	--h6-color: var(--body-font-color);

	--anchor-link-normal-color: var(--color-blue);
	--anchor-link-hover-color: var(--color-blue-dark);

	/*************************************
	Forms
	**************************************/
	--form-checkbox-radio-size: 16px;
	--form-checkmark-img: url("#{$theme-url-base}/media/images/check-blue.png");
	--form-radio-fill-color: var(--color-black);

	--form-control-input-border: 2px solid var(--color-gray);
	--form-control-disabled-opacity: 0.4;
}
