.wysiwyg {
	a:not(.button):not(.ignore-link-styles) {
		color: rgb(var(--anchor-link-normal-rgb-color));
		text-decoration: underline;
		text-decoration-color: rgba(var(--anchor-link-hover-rgb-color), 0);
		text-underline-offset: 2px;
		font-weight: var(--font-weight-semibold);
		transition: all var(--default-transition-speed) ease-in-out;

		&:hover,
		&:active {
			color: rgb(var(--anchor-link-hover-rgb-color));
			text-decoration-color: rgba(var(--anchor-link-hover-rgb-color), 1);
		}
	}

	ul,
	ol {
		padding-left: 0;
		color: var(--body-font-color);

		li {
			margin: 0 0 0.5rem 1.5rem;

			&::marker {
				color: var(--list-bullet-color);
			}

			ul,
			ol {
				margin-top: 0.5rem;
			}

			li {
				margin-left: 1.5rem;
			}
		}
	}
}
