.wysiwyg {
	a:not(.button) {
		color: var(--anchor-link-normal-color);
		text-decoration: none;
		font-weight: var(--font-weight-semibold);
		transition: color var(--default-transition-speed) ease-in-out;

		&:hover,
		&:active {
			color: var(--anchor-link-hover-color);
			text-decoration: underline;
		}
	}

	ul,
	ol {
		padding-left: 0;
		color: var(--body-font-color);

		li {
			margin: 0 0 0.5rem 1.5rem;

			ul,
			ol {
				margin-top: 0.5rem;
			}

			li {
				margin-left: 1.5rem;
			}
		}
	}
}
