.bg-black,
.bg-blue,
.bg-red,
.block-bg-image:not(.block-bg-image--dark-text) {
	--body-font-color: var(--color-white);

	--h1-color: var(--color-white);
	--h2-color: var(--color-white);
	--h3-color: var(--color-white);
	--h4-color: var(--color-white);
	--h5-color: var(--color-white);
	--h6-color: var(--color-white);

	--button-primary-normal-text-color: var(--color-black);
	--button-primary-normal-bg-color: var(--color-white);
	--button-primary-normal-border-color: var(--color-white);

	--button-primary-disabled-bg-color: rgba(var(--color-rgb-white), 0.4);
	--button-primary-disabled-text-color: rgba(var(--color-rgb-black), 0.7);

	--button-secondary-normal-text-color: var(--color-white);
	--button-secondary-normal-border-color: var(--color-white);

	--button-secondary-disabled-text-color: rgba(var(--color-rgb-white), 0.4);
	--button-secondary-disabled-border-color: rgba(var(--color-rgb-white), 0.4);

	--form-checkmark-img: url("#{$theme-url-base}/media/images/check-white.png");
	--form-radio-fill-color: var(--color-white);
}

.bg-black,
.bg-blue,
.bg-red {
	--anchor-link-normal-color: var(--color-white);
	--anchor-link-hover-color: var(--color-white);
}

.bg-black {
	background-color: var(--color-black);
}

.bg-blue {
	background-color: var(--color-blue);
}

.bg-red {
	background-color: var(--color-red);
}

.bg-gray {
	background-color: var(--color-gray);
}

.block-bg-image {
	background-color: var(--color-white);
	background-size: cover;

	&.block-bg-overlay {
		&::before {
			z-index: -1;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.7) 0%,
				rgba(246, 249, 252, 0) 100%
			);
		}

		.block-inner {
			z-index: 1;
			position: relative;
		}
	}
}
