// remove default 'block-inner' top padding from the second block
// in a series of two with the same background color
@each $color_name in $bg-color-names {
	/* prettier-ignore */
	.block-container.bg-#{"" + $color_name}:not(.block-image) + .block-container.bg-#{"" + $color_name} {
		.block-inner {
			padding-top: 0;
		}
	}
}

.block-container.block-bg-none:not(.block-image) + .block-container.block-bg-none {
	.block-inner {
		padding-top: 0;
	}
}

.block-container {
	z-index: 0;
	position: relative;

	transition: all 1s ease-in-out;

	.block-inner {
		padding-top: var(--block-padding-sm-top);
		padding-bottom: var(--block-padding-sm-bottom);

		@include media-min($medium) {
			padding-top: var(--block-padding-md-top);
			padding-bottom: var(--block-padding-md-bottom);
		}

		@include media-min($large) {
			padding-top: var(--block-padding-lg-top);
			padding-bottom: var(--block-padding-lg-bottom);
		}
	}

	&.block-animate {
		transform: translateY(25%);
		opacity: 0;
	}
}

.block-options-padding-remove-top .block-inner {
	padding-top: 0;
}

.block-options-padding-remove-bottom .block-inner {
	padding-bottom: 0;
}
