.site-footer {
	padding: 4rem 0;

	a {
		color: var(--color-white);
		text-decoration: none;
	}

	&__inner {
		display: grid;

		grid-template-columns: 1fr;
		grid-template-areas:
			"links"
			"social"
			"legal";
		gap: var(--grid-column-gutter);

		@include media-min($medium) {
			grid-template-columns: 1fr auto;
			grid-template-areas:
				"links social"
				"links social"
				"legal legal";
		}
	}

	&__menu {
		ul {
			display: flex;
		}

		li {
			margin-right: 0.5rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&--primary {
			grid-area: links;

			ul {
				flex-direction: column;
			}
		}

		&--secondary {
			ul {
				flex-wrap: wrap;
			}
		}
	}

	&__social-links {
		grid-area: social;
		display: flex;
		justify-content: center;
		gap: 1rem;
		list-style: none;

		@include media-min($medium) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__social-link {
		display: inline-block;
		width: 32px;
		height: 32px;
	}

	&__legal {
		grid-area: legal;
	}
}
