.share-icon {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	cursor: pointer;

	&--twitter {
		background: var(--color-twitter);
	}

	&--facebook {
		background: var(--color-facebook);
	}

	&--linkedin {
		background: var(--color-linkedin);
	}

	&__icon {
		width: 20px;
	}
}
