.block-columns {
	.block-inner {
		display: grid;
		grid-template-columns: repeat(var(--grid-num-cols, 1), 1fr);
		gap: var(--grid-column-gutter);
	}

	[data-num-col="1"] {
		@include media-min($large) {
			--grid-num-cols: 12;

			.block-columns__column {
				grid-column: 2 / span 10;
			}
		}
	}

	[data-num-col="2"] {
		@include media-min($medium) {
			--grid-num-cols: 2;
		}

		@include media-min($large) {
			--grid-num-cols: 12;

			.block-columns__column {
				&:first-child {
					grid-column: 2 / span 5;
				}

				&:last-child {
					grid-column: span 5;
				}
			}
		}
	}

	[data-num-col="2"][data-format="sidebar-left"] {
		@include media-min($medium) {
			--grid-num-cols: 3;

			.block-columns__column {
				&:first-child {
					grid-column: span 1;
				}

				&:last-child {
					grid-column: span 2;
				}
			}
		}
	}

	[data-num-col="2"][data-format="sidebar-right"] {
		@include media-min($medium) {
			--grid-num-cols: 3;

			.block-columns__column {
				&:first-child {
					grid-column: span 2;
				}

				&:last-child {
					grid-column: span 1;
				}
			}
		}
	}

	[data-num-col="3"] {
		@include media-min($large) {
			--grid-num-cols: 3;
		}
	}

	[data-num-col="4"] {
		@include media-min($medium) {
			--grid-num-cols: 2;
		}

		@include media-min($large) {
			--grid-num-cols: 4;
		}
	}
}
